# Exam Review: Pandas Skills

Import libraries and create helper function. Code for displaying dataframes from Python Data Science Handbook.

In [ ]:
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## 1. Basic operations

Questions 1 - 8 are based on the DataFrame `data` as created below.  Assume that each successive questions input is being executed in a notebook and that each questionâ€™s `In[]` expressions are evaluated in the order shown.  Therefore any changes to DataFrames by prior questions must be considered for the current question.  

For each question, evaluate the code provided and write the question number and its expected output in the output cell provided. If an expression is illegal and will result in an error write ERROR as the expected output.

While you could simply run these expressions, we encourage you to at least attempt to answers these questions directly since this will assist you in your exam preparation.

In [ ]:


area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
area = pd.Series(area_dict)
data = pd.DataFrame({'population': population,
              'area': area})

**QUESTION 1**

In [ ]:
data[1:2]

1:

**QUESTION 2**

In [ ]:
list(data.index)

2:

**QUESTION 3**

In [ ]:
data['foo'] = pd.Series({'California': 'Blue',
                         'Texas': 'Red',
                         'Illinois': 'Blue'})
data.iloc[2:4,2:3]

3:

**QUESTION 4**

In [ ]:
dataT = data.T
dataT.iloc[2,0:2]

In [ ]:
dataT

4:

**QUESTION 5**

In [ ]:
data.loc[data.area < 150000, ['area', 'foo']]

5:

**QUESTION 6**

In [ ]:
large_pop = data.population > 25000000
large_pop

6:

**QUESTION 7**

In [ ]:
dataT.loc['population':'foo', :'Florida']

7:

**QUESTION 8**

In [ ]:
data.isnull().any()

8:

**---------------------------------------------------------------**
**Questions 9 - 13** are based on the DataFrames `df1` and `df2` as created below.  For each question, evaluate the code provided and write the question number and its expected output in the output cell provided. If an expression is illegal and will result in an error write ERROR as the expected output.

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa'],
                    'group': ['ART', 'HR', 'EE']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Sue'],
                    'dept': ['Lecturer', 'Admin']})
display('df1', 'df2')

**QUESTION 9**

In [ ]:
m1 = pd.merge(df1, df2)
m1

9:

**QUESTION 10**

In [ ]:
m2 = pd.merge(df1, df2, how='inner')
m2

10:

**QUESTION 11**

In [ ]:
m3 = pd.merge(df1, df2, how='outer')
m3

11:

**QUESTION 12**

In [ ]:
m4 = pd.merge(df1, df2, how='left')
m4

12:

**QUESTION 13**

In [ ]:
m5 = pd.merge(df1, df2, how='right')
m5

13:

**---------------------------------------------------------------**
For each question, evaluate the code provided and write the question number and its expected output in the output cell provided. If an expression is illegal and will result in an error write ERROR as the expected output.

**QUESTION 14**

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df.groupby('key').sum()

14:

**QUESTION 15**

In [ ]:
df.groupby('key').aggregate(['min', np.median, max])

15:

**QUESTION 16**

In [ ]:
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
df2 = df.set_index('key')
df2.groupby(mapping).sum()

16:

**QUESTION 17**

In [ ]:
df2.groupby(str.lower).max()

17:

**QUESTION 18**

In [ ]:
data = ['peter', None, 'MARY', 'gUIDO']
names =  pd.Series(data)
names.str.capitalize()

18:

**QUESTION 19**

In [ ]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Michael Palin'])
monte.str.split()[0]

19: